{% extends 'app/base.html' %} 

{% load static%}

{% block contenido %}

<div class="container">    
  <div class="row">
    <div class="col-sm-4"> <a href="(% url 'productos' %)">
      <div class="panel panel-success panel-pricing">
        <div class="panel-heading"><p class="text-center">MACETEROS</p></div>
        <div class="" id="img-contenedor"><img src="{% static 'app/img/Macetero.jpg' %}" class="img-responsive img-rounded" style="width:100%" alt="Image"></div>
      </div>
    </a>
    </div>
    <div class="col-sm-4"> <a href="productos.html">
      <div class="panel panel-success panel-pricing">
        <div class="panel-heading"><p class="text-center">TIERRA</p></div>
        <div class="" id="img-contenedor"><img src="{% static 'app/img/Tierra.jpg' %}" class="img-responsive img-rounded " style="width:100%" alt="Image"></div>
      </div>
    </a>
    </div>
    <div class="col-sm-4"> <a href="productos.html">
      <div class="panel panel-success panel-pricing">
        <div class="panel-heading"><p class="text-center">FLORES</p></div>
        <div class="" id="img-contenedor"><img src="{% static 'app/img/Flores.jpg' %}" class="img-responsive img-rounded" style="width:100%" alt="Image"></div>
      </div>
    </a>
    </div>
  </div>
</div>

<div class="container">    
  <div class="row">
    <div class="col-sm-4"> <a href="productos.html">
      <div class="panel panel-success panel-pricing">
        <div class="panel-heading"><p class="text-center">ARBUSTOS</p></div>
        <div class="" id="img-contenedor"><img src="{% static 'app/img/Arbusto.jpg' %}" class="img-responsive img-rounded" style="width:100%" alt="Image"></div>
      </div>
      </a>
    </div>
    <div class="col-sm-4"> <a href="productos.html">
      <div class="panel panel-success panel-pricing">
        <div class="panel-heading"><p class="text-center">JARDINERIA</p></div>
        <div class="" id="img-contenedor"><img src="{% static 'app/img/Jardineria.jpg' %}" class="img-responsive img-rounded" style="width:100%" alt="Image"></div>
      </div>
    </a>
    </div>
    <div class="col-sm-4"> <a href="productos.html">
      <div class="panel panel-success panel-pricing">
        <div class="panel-heading"><p class="text-center">OTROS</p></div>
        <div class="" id="img-contenedor"><img src="{% static 'app/img/Otros.jpg' %}" class="img-responsive img-rounded" style="width:100%" alt="Image"></div>
      </div>
    </a>
    </div>
  </div>
</div>

{% endblock %}